<%- include('../partials/header'); %>
  <form>
    <label for="title">Title</label>
    <textarea name="title" cols="30" rows="1" maxlength="50"></textarea>
    <div class="title error"></div>
    <label for="contents">Contents</label>
    <textarea name="contents" cols="30" rows="10" maxlength="5000"></textarea>
    <div class="contents error"></div>
    <label for="images">Upload images</label>
    <input type="file" id="images" multiple>
    <div class="image error"></div>
    <button>Publish post</button>
  </form>

  <script type="module" src="/js/postScripts/createPost.js"></script>
<%- include('../partials/footer'); %>