<%- include('../partials/header'); %>
  <form>
    <label for="title">Title</label>
    <textarea name="title" cols="30" rows="1" maxlength="50"><%= title %></textarea>
    <div class="title error"></div>
    <label for="contents">Contents</label>
    <textarea name="contents" cols="30" rows="10" maxlength="5000"><%= contents %></textarea>
    <div class="contents error"></div>
    <button>Update post</button>
  </form>

  <script src="/js/postScripts/updatePost.js"></script>
<%- include('../partials/footer'); %>