<%- include('../partials/header'); %>
  <ul>
    <li><a href="/user-management/new-user-form">Create new user</a></li>
    <li><a href="/user-management/users">View all users</a></li>
  </ul>
  <br>
  <a href="/">Go back to main menu</a>
<%- include('../partials/footer'); %>