<%- include('partials/header'); %>
  <h1>Here you can find most cool guitar tips on the net!</h1>
  <br>
  <ul>
    <li><a href="/posts">View all tips</a></li>
  </ul>
<%- include('partials/footer'); %>