<%- include('../partials/header'); %>
  <h1>Please sign up or log in with existing credentials</h1>
  <ul>
    <li><a href="/auth/signup">Sign up as a new user</a></li>
    <li><a href="/auth/login">Log in with existing credentials</a></li>
  </ul>
<%- include('../partials/footer'); %>