<%- include('../partials/header'); %>
  <h2>Here you can request a password reset</h2>
  <br>
  <form>
    <label for="email">Enter your registered email:</label>
    <input type="text" name="email">
    <div class="email error"></div>
    <button>Request password reset</button>
  </form>

  <script type="module" src="/js/authScripts/forgotPassword.js"></script>
<%- include('../partials/footer'); %>