<%- include('../partials/header'); %>
  <form>
    <h2>Please sign in using your credentials</h2>
    <label for="email">Email</label>
    <input type="text" name="email">
    <label for="password">Password</label>
    <input type="password" name="password">
    <div class="credentials error"></div>
    <button>Log in</button>
  </form>
  <br>
  <span>
    <a href="/auth/forgotpassword">I forgot my password</a>
    <a href="/auth">Go back to previous menu</a>
  </span>

  <script type="module" src="/js/authScripts/login.js"></script>
<%- include('../partials/footer'); %>