<%- include('../partials/header'); %>
  <h2>Please choose your new password</h2>
  <form>
    <label for="password">Enter your new password:</label>
    <input type="password" name="password">
    <div class="password error"></div>
    <div class="token error"></div>
    <button>Submit</button>
  </form>

  <script type="module" src="/js/authScripts/resetPassword.js"></script>
<%- include('../partials/footer'); %>