<%- include('../partials/header'); %>
  <form>
    <h2>Please enter your details to create a new user profile</h2>
    <label for="username">Please choose your username</label>
    <input type="text" name="username">
    <div class="username error"></div>
    <label for="email">Please enter your email</label>
    <input type="text" name="email">
    <div class="email error"></div>
    <label for="password">Please choose a password</label>
    <input type="password" name="password">
    <div class="password error"></div>
    <button>Sign up</button>
  </form>
  <br>
  <a href="/auth">Go back to previous menu</a>

  <script type="module" src="/js/authScripts/signup.js"></script>
<%- include('../partials/footer'); %>