<%- include('../partials/header'); %>
  <ul>
    <li><a href="/users">View all users</a></li>
    <li><a href="/users/create-user">Create new user</a></li>
  </ul>
  <br>
  <a href="/">Go back to main menu</a>
<%- include('../partials/footer'); %>